# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore git-related files
.git/
.gitignore

# Ignore logs and temporary files
*.log
*.tmp

# Ignore other unnecessary files
alembic.ini
migrations/
run.sh